@keyframes shiny {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(150%);
  }
}

.animate-shiny {
  animation: shiny 2s ease-in-out infinite;
}
